<% include ../partials/head %>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <% include ../partials/header %>
    </header>

    <aside class="main-sidebar">
        <% include ../partials/aside %>
    </aside>

    <div class="content-wrapper">
        <% include ../partials/mocklist-div %>
    </div>

    <footer class="main-footer">
        <% include ../partials/footer %>
    </footer>

    <div class="control-sidebar-bg"></div>
</div>

<% include ../partials/tail %>
